body {
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 15px;
    background-color: grey;
}

header {
    margin: 0;
}

.answer {
    margin: 5% 20%;
    font-style: oblique;
    font-size: 150%;
    
}

p {
    color: red;
}