body {
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 18px;
    background-color: pink;
}

header {
    margin: 0;
}

.answer {
    margin: 4.5% 25%;
    font-style: verdana;
    font-size: 172%;
    align-items: center;
    color: black;
    
    
}

p {
    color: red;
}

h1{
    align-items: center;
}