<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Answer</title>
</head>
<body>
    <% 
    if (type === "letterStamped") {
        type = "Letter (Stamped)"
    } else if (type === "letterMetered") {
        type = "Letter (Metered)"
    } else if (type === "leFlats") {
        type = "Large Envelope (Flats)"
    } else if (type === "firstClass") {
        type = "First-Class Package Service—Retail"
    }
    %>
    <div class="center">
    <div id="header"><header><h1>USPS Letter Rates</h1></header></div>
    <div class="answer">Chosen envelope: <%= type %> <br>
        Weight of your mail: <%= weight %> oz <br>
        Cost for our special client:  $<%= price %><br><br>
    <button onclick="window.history.back()">Back</button>
    </div>
</div>
</body>
</html>